<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Welcome to my portfolio website."/>
</head>
<body>
<section layout:fragment="content">
    <div class="container d-flex justify-content-center my-5">
        <div class="card w-75">
            <div class="card-header" th:each="card : ${cards}">
                <h1>Welcome to my portfolio</h1>
            </div>
            <img th:src="${card.img_url}}" class="card-img-top" alt="Image">
            <div class="card-body">
                <h5 class="card-title" th:text="${card.title}">About Me</h5>
                <p class="card-text" th:text="${card.description}">some random text to be palced from db</p>
            </div>
            <div class="card-footer text-body-secondary">
                <p>post date:<span th:text="${card.post_date}"></span></p>
            </div>
        </div>
    </div>
</section>
</body>
</html>