<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>

</head>
<body>
<h3>Student registration form</h3>
<form th:action="@{/processStudentForm}" th:object="${student}" method="POST">
    <p>First Name</p>
    <input type="text" th:field="*{firstName}"/>
    <p>Last Name</p>
    <input type="text" th:field="*{lastName}">
    <br>
    <p>Country:</p>
    <select th:field="*{country}">
        <option th:each="tempCountry : ${countries}"
                th:text="${tempCountry}"
                th:value="${tempCountry}"></option>
    </select>
    <br>

    Favorite programming language:
    <input type="radio" th:field="*{favoriteLanguage}"
           th:each="tempLang : ${languages}"
           th:value="${tempLang}"
           th:text="${tempLang}"/>
    <br>
    <input type="submit" value="Submit">
</form>

</body>
</html>